# Środowiska wirtualne (NAJWAŻNIEJSZE)
venv/
.venv/
nosql_env/
*env/
bin/
lib/
share/

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Dane i bazy
*.db
*.sqlite
*.csv
*.json

# Inne śmieci
__pycache__/
*.pyc
.DS_Store
.cache/
huggingface/
nosql_venv/
venv/
.ipynb_checkpoints/

# Pliki systemowe Linuxa
.bash_history
.bash_logout
.bashrc
.profile
.gitconfig
.lesshst

# Konfiguracje IDE i Cache
.cache/
.local/
.config/
.ipynb_checkpoints/

# Środowiska wirtualne
venv/
nosql_venv/